<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= form.name%></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= form.name %> at <%= form.age %></h1>

    <% if (form.waterIntake) { %>
    <p>Water Intake: <%= form.waterIntake %></p>
    <% } %>

     <% if (form.healthGoals) { %>
    <a href="<%= form.heathGoals %>" target="_blank">Health Goals</a>
    <% } %>
    
    <a href="/users/<%= user._id %>/forms/<%= form._id %>/edit">
      Edit this application
    </a>
    <form
    action="/users/<%= user._id %>/forms/<%= form._id %>?_method=DELETE"
    method="POST">

    <button type="submit">Delete this form</button>
     </form>
  </body>
</html>
